name: Global Proximity Update
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install google-generativeai
      - name: Ejecutar IA
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python collector.py
      - name: Commit y Push
        run: |
          git config --global user.name 'Proximity-Bot'
          git config --global user.email 'bot@proximity.news'
          git add .
          git commit -m "Update $(date)" || echo "No changes"
          git push origin main
