name: Actualizar Noticias
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Instalar Dependencias
        run: pip install feedparser
        
      - name: Ejecutar Recolector
        run: python collector.py
        
     - name: Guardar y Subir Resultados
        run: |
          git config --global user.name 'NewsBot'
          git config --global user.email 'bot@antigravity.news'
          
          # Sincronizar con lo que hay en la web antes de subir
          git pull origin main --rebase
          
          # Añadir los archivos (el fijo y la carpeta nueva)
          git add latest_news.json historico_noticias/
          
          # Hacer el commit con la fecha actual
          git commit -m "Registro histórico: $(date +'%Y-%m-%d %H:%M')" || echo "Sin cambios para subir"
          
          # Subir los cambios
          git push origin main
