name: Actualizar Noticias
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Descarga todo el historial para evitar errores de push

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Instalar Dependencias
        run: pip install feedparser
        
      - name: Ejecutar Recolector
        run: python collector.py
        
      - name: Guardar y Subir Resultados
        run: |
          git config --global user.name 'NewsBot'
          git config --global user.email 'bot@antigravity.news'
          
          # Sincronizar cambios remotos antes de subir
          git pull origin main --rebase
          
          # Añadir archivos creados
          git add latest_news.json historico_noticias/
          
          # Intentar commit
          git commit -m "Registro histórico: $(date +'%Y-%m-%d %H:%M')" || echo "Sin cambios"
          
          # Subir con fuerza si es necesario
          git push origin main
