name: Global Proximity Update
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' # Subimos a 3.11 para evitar el aviso de fin de vida
      - run: pip install google-genai # Usamos la nueva librería oficial
      - name: Ejecutar IA
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python collector.py
        - name: Commit y Push
        run: |
          git config --global user.name 'Proximity-Bot'
          git config --global user.email 'bot@proximity.news'
          git add .
          git commit -m "Update $(date)" || echo "No changes"
          # Añadimos --force para que el bot siempre gane el choque de versiones
          git push origin main --force
